<html>
	<head>
		<meta charset="UTF-8" />
	</head>
	<body>
	
	<div th:each="order : ${requests}">
		<div th:text="${order.nameProduct}">Nome do produto</div>
		<div>Valor: <span th:text="${order.negotiatedValue}">149,99</span> </div>
		<div>Data da entrega: <span th:text="${order.deliveryDate}">12/05/2023</span></div>
		
		<div>Produto</div>
		<div> <input th:value="${order.urlProduct}" value=" url do produto"/></div>
		
		<div>Descrição</div>
		<div>
			<textarea th:text="${order.description}">descrição do pedido</textarea>
		</div>
		
		<div>
			<img th:src="${order.urlImage}" src=""/>
		</div>
	  </div>
	</body>
</html>